<h1>Listing assistant_evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Stuff</th>
    </tr>
  </thead>

  <tbody>
    <% @assistant_evaluations.each do |assistant_evaluation| %>
      <tr>
        <td><%= assistant_evaluation.assistant_role.student.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
