<h2>Controle de frequência</h2>

<p>
<%= button_to "Pedir frequências", controller: "assistant_frequency", :action => "request_frequency", :method => 'post' %>
</p>

<span style="height: 2em; display: block;"></span>