
<div class="panel panel-default">
  <div class="panel-heading text-center">Dados de aluno</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label class="control-label col-sm-4" for="gender">
          <%= t('activerecord.attributes.student.gender') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.gender_as_s %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="institute">
          <%= t('activerecord.attributes.student.institute') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.institute %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="rg">
          <%= t('activerecord.attributes.student.rg') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.rg %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="cpf">
          <%= t('activerecord.attributes.student.cpf') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.cpf %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="tel">
          <%= t('activerecord.attributes.student.tel') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.tel %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="cel">
          <%= t('activerecord.attributes.student.cel') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.cel %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="has_bank_account">
          <%= t('activerecord.attributes.student.has_bank_account') %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= show_yes_or_no @student.has_bank_account %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="address">
          <%= t('activerecord.attributes.student.address') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.address %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="complement">
          <%= t('activerecord.attributes.student.complement') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.complement %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="district">
          <%= t('activerecord.attributes.student.district') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.district %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="cep">
          <%= t('activerecord.attributes.student.cep') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.zipcode %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="city">
          <%= t('activerecord.attributes.student.city') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.city %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="state">
          <%= t('activerecord.attributes.student.state') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @student.state %></p>
        </div>
      </div>

      <% if can? :edit, @student %>
        <p class="text-center">
          <%= button_link_to 'Editar', edit_student_path(@student) %>
        </p>
      <% end %>

      <% if current_super_professor? or admin_signed_in? or secretary_signed_in? %>
        <% unless @student.evaluations.empty? %>
          <p class="text-center">
            <%= button_link_to 'Ver avaliações como monitor(a)', assistant_evaluations_for_student_path(@student) %>
          </p>
        <% end %>
      <% end %>

    </form>
  </div>
</div>
