<h1>Alunos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"><%= t('activerecord.attributes.student.student') %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td class="name"><%= student.name %></td>
        <td><%= "#{student.nusp}" %></td>
        <td><%= button_link_to "Ver perfil", student.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
