<h1>Alunos</h1>

<table>
  <tr>
    <th colspan="2"><%= t('activerecord.attributes.student.student') %></th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td class="name"><%= student.user.name %></td>
      <td><%= link_to "Perfil", student.user %></td>
    </tr>
  <% end %>
</table>
