<h1>Cadastro de Aluno</h1>

<div class="row">
  <p class="lead">
    Por favor, preencha o formulário abaixo com seus dados para finalizar seu
    cadastro no sistema.
  </p>
</div>

<%= render 'form' %>

<span style="height: 2em; display: block;"></span>
