<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Prezado(a) <%= @assistant.student.name %>,
    </p>

    <p>
      Você foi selecionado(a) para realizar atividades como monitor no IME/USP,
      durante o <%= @assistant.semester.as_s %>.
    </p>
    <p>
      Por favor, acesse o <%= button_link_to "sistema de monitoria",
      home_index_url %> e confirme seu interesse no cargo de monitoria através
      do link "Minhas Candidaturas". Se optar por abrir mão do cargo, ele será
      cedido a outro aluno ou aluna.
    </p>
    <p>
      Estamos a disposição em caso de dúvidas.
    </p>
    <p>
      Comissão de Monitoria IME/USP<br>
      E-mail: monitoria@ime.usp.br<br>
      Telefone: 11 3091-6107<br>
    </p>
  </body>
</html>
