<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Prezado(a) <%= @assistant.professor.name %>,
    </p>
    <p>
      TODO
    </p>
    <p>
      Estamos a disposição em caso de dúvidas.
    </p>
    <p>
      Comissão de Monitoria IME/USP<br>
      E-mail: monitoria@ime.usp.br<br>
      Telefone: 11 3091-6107<br>
    </p>
  </body>
</html>