<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Prezado(a) <%= @student.name %>,
    </p>

    <p>
      Estamos enviando essa mensagem para lhe avisar que sua frequência como
      monitor para o mês atual nas disciplinas:
    </p>
    <table border=1 class="table">
      <thead>
        <tr>
          <th> Disciplina </th>
          <th> Professor </th>
        </tr>
      </thead>
      <tbody>
        <% @pending_roles.each do |role| %>
        <tr>
          <td align="center"> <%= role.course.full_name %> </td>
          <td align="center"> <%= role.professor.name %> </td>
        </tr>
        <% end %>
      </tbody>
   </table>
    <p>
      Ainda não foi marcada pelo(s) docente(s) responsável(is). Sugerimos tratar
      essa pendência diretamente com ele(a).
    </p>
    <p>
      Caso não existam mais pendências, por favor desconsidere esta mensagem.
    </p>
    <p>
      Estamos a disposição em caso de dúvidas.
    </p>
    <p>
      Comissão de Monitoria IME/USP<br>
      E-mail: monitoria@ime.usp.br<br>
      Telefone: 11 3091-6107<br>
    </p>
  </body>
</html>