<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Caro(a) monitor(a) <%= @student.name %>,
    </p>
    <p>
      Até o presente momento a sua frequência referente a este mês não consta como cadastrada no Sistema de Monitoria para as seguintes disciplinas:
    </p>
    <table border=1 class="table">
      <thead>
        <tr>
          <th> Disciplina </th>
          <th> Professor </th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
        <tr>
          <td align="center"> <%= role.course.full_name %> </td>
          <td align="center"> <%= role.professor.name %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      Nós enviamos um e-mail lembrete ao(s) docente(s) responsável(is) pela sua monitoria, mas, de toda forma, gostaríamos de solicitar a você a gentileza de procurá-los(as) para recordá-los(as) de que a frequência deve ser cadastrada até o último dia do mês de referência.
    <p>
      Agradecemos antecipadamente e, em caso de dúvidas, por favor contate a Seção de Monitoria do IME.
    </p>
    <p>
      Att.<br/>
      Sistema de Monitoria
    </p>
    <p>
      Comissão de Monitoria IME/USP<br>
      E-mail: monitoria@ime.usp.br<br>
      Telefone: 11 3091-6107<br>
    </p>
  </body>
</html>