<h1>Usuários</h1>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="5"><%= t('activerecord.attributes.user.user') %></th>
    </tr>
  </thead>
  <tbody>

    <% @users.sort { |x,y| x[:name].downcase <=> y[:name].downcase }.each do |user| %>
      <tr>
        <td class="name"><%= user.name %></td>
        <td><%= "#{user.nusp}" %></td>
        <td>
          <% if user.professor? and user.student? %>
            aluno e professor
          <% elsif user.student? %>
            aluno
          <% elsif user.professor? %>
            professor
          <% elsif !(user.professor?) and !(user.student?) %>
            usuário sem categoria
          <% end %>
        </td>
        <td><%= button_link_to "Ver perfil", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
