<h1>
  Sobre o Sistema de Monitoria
</h1>

<h2>História do sistema</h2>

<p> 
  O Sistema de Monitoria foi desenvolvido durante a disciplina <b>MAC 342/5716 (Laboratório de Programação eXtrema)</b>, com incentivo da professora Nina Hirata, professora e doutora. O sistema teve início no segundo semestre de 2014 e ainda continua em desenvolvimento. 
</p>

<h2>Repositório no GitHub</h2>

<p> 
  Para visualizar o repositório, acesse
  <a href="https://github.com/monitoria-imeusp/monitoria-imeusp">este link.</a>
</p>

<h2>LICENÇA</h2>

<p> 
  Para visualizar a lincença do software, acesse
  <a href="https://raw.githubusercontent.com/monitoria-imeusp/monitoria-imeusp/dev/LICENSE">este link.</a>
</p>

<h2>Sugestões</h2>

<p>
  Para reportar bugs ou se você tiver sugestões, mande um email para <b>sistemamonitoria@ime.usp.br</b> ou crie uma issue no nosso <a href="https://github.com/monitoria-imeusp/monitoria-imeusp">repositório</a>.
</p>
