<h2>Administração do sistema</h2>

<div>
  <h3>Cadastro de disciplinas oferecidas no semestre</h3>
  <%= button_tag(type: 'submit', class: "cadastro_disciplina") do %>
    Cadastrar disciplinas
  <% end %>
</div>

