<h2>Administração do sistema</h2>

<div>
  <h3>Cadastro de disciplinas oferecidas no semestre</h3>
    <%= button_to "Cadastrar disciplinas", controller: "admins", :action => "register_courses", :method => 'post' %>
</div>

