
<h2>Bem-vindo ao sistema de monitoria do IME-USP!</h2>

<p>
  Esse sistema gerencia o cadastramento de monitores nas disciplinas ministradas
  por professores do instituto.
</p>

<h2>Professores</h2>

<p>
  Vocês podem requisitar monitores para suas disciplinas.
</p>

<h2>Alunos</h2>

<p>
  Vocês podem se candidatar ao cargo de monitor em disciplinas.
</p>
