<h2>Acesso administrativo</h2>

<p>
  Escolha sua forma de acesso:
</p>
<p>
  <%= link_to "Login Funcionário", new_secretary_session_path %>
</p>
<p>
  <%= link_to "Login Admin", new_admin_session_path %>
</p>
