<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Inscrição monitoria</h1>

    <p>
      Car@ <%= @assistant.student.name %>,
    </p>

    <p>Você foi eleito(a) como monitor(a). Parabéns.</p>

  </body>
</html>