<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Mudança na solicitação de monitor</h1>

    <p>
      <strong>Data:</strong> <%= Time.now %>
    </p>

    <%= render 'professor_details' %>
    <%= render 'request_for_teaching_assistant_details' %>

  </body>
</html>