<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Mudança em inscrição de monitoria</h1>

    <p>
      <strong>Data:</strong> <%= Time.now %>
    </p>

    <%= render 'student_details' %>
    <%= render 'candidature_details' %>

  </body>
</html>