<h1>Professores</h1>

<table>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Departamento</th>
    </tr>

    <% i = 0 %>
    <% @professors.each do |professor| %>
        <tr <%= "class=odd" if i%2 == 1 %> >
            <td><%= link_to professor.name, professor %></td>
            <td><%= professor.email %></td>
            <td><%= professor.department.upcase %></td>
        <% i = i+1 %>
        </tr>
    <% end %>
</table>
