<h1>Professores</h1>

<table>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Departamento</th>
    </tr>

    <% @professors.each do |professor| %>
        <tr>
            <td><%= link_to professor.name, professor %></td>
            <td><%= professor.email %></td>
            <td><%= professor.department.upcase %></td>
        </tr>
    <% end %>
</table>
