<h1>Disciplinas</h1>

<table>
    <tr>
        <th>Código da Disciplina</th>
        <th>Nome da disciplina</th>
    </tr>

    <% @courses.each do |course| %>
        <tr>
            <td><%= link_to course.course_code, course %></td>
            <td><%= course.name %></td>
        </tr>
    <% end %>
</table>
