<h1>Disciplinas</h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.course.course_code') %></th>
    <th><%= t('activerecord.attributes.course.name') %></th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.course_code, course %></td>
      <td><%= course.name %></td>
    </tr>
  <% end %>
</table>
