<p>
  	<strong>Nome da Disciplina:</strong>
  	<%= @course.name %>
</p>
 
<p>
  	<strong>Código da disciplina:</strong>
    <%= @course.course_code %>
</p>

<% if admin_signed_in? || (current_professor.present? && current_professor.super_professor?) %>
    <p>
        <%= link_to 'Editar', edit_course_path(@course) %>
    </p>
<% end %>
