<h1>Funcionários e funcionárias</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @secretaries.each do |secretary| %>
      <tr>
        <td><%= link_to secretary.name, secretary %></td>
        <td><%= secretary.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
