/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= boilerplate/main.css
 *= boilerplate/normalize.css
 *= require fancybox
 *= require_tree .
 *= require_self
 */

/*********************************************************/

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h2 {
  padding-left: 2em;
}

section > h2 {
  padding: .5em 0em;
  text-align: center;
  width: 100%;
  margin: 1em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

p, form, a, a:hover, a:visited, a:active, td, th {
  font-size: 18px;
  background-color: inherit;
}

a, a:visited {
  text-decoration: none;
  color: #368;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #b55;
}

table {
  width: 100%;
  text-align: center;
  border: 2px solid #666;
}

td, th {
  padding: 4px 8px;
}

th.title, td.title {
  padding: 4px 8px;
  text-align: left;
  width: 25%;
}

th.name, td.name {
  padding: 4px 8px;
  text-align: center;
  width: 75%;
}

th {
  border-bottom: 2px solid #666;
  background-color: #bcc;
}

tr {
  background-color: #dee;
}

tr:hover {
  background-color: #eff;
}

/*********************************************************/

div.shell {
  width: 1024px;
  margin: auto;
  height: 100%;
  padding: 0em;
  border: 0em;
}

footer {
  /*
  */
  margin-bottom: 0;
  height: 1em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-top: 2pt solid #bbb;
}

footer > p {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

/*********************************************************/

section {
  width: 75%;
  padding: 1em 2em;
  min-height: 400px;
  border-right: 2pt solid #bbb;
}

section > p, form {
  margin-left: 4em;
}

section > a,
section > a:visited,
section > h1 > a,
section > h1 > a:visited,
section > h2 > a,
section > h2 > a:visited,
td > a,
td > a:visited {
  display: block;
  float: right;
  background-color: #368;
  border-radius: 4px;
  min-width: 128px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 4px 6px;
  color: #eee;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s;
}

section > a:hover,
section > a:active,
section > a:focus,
section > h1 > a:hover,
section > h1 > a:active,
section > h1 > a:focus,
section > h2 > a:hover,
section > h2 > a:active,
section > h2 > a:focus,
td > a:focus,
td > a:active,
td > a:hover {
  text-decoration: none;
  background-color: #b55;
  color: #eee;
}

select {
  max-width: 60%;
}

.note {
  font-size: 12px;
}

/*********************************************************/

header {
  padding: .1em 1em;
  background-color: #eee;
  min-height: 36pt;
  border-bottom: 1px solid #bbb;
}

header > div {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header > div > a:visited,
header > div > a:link {
  display: block;
  float: right;
  text-decoration: none;
  color: #555;
  margin-top: 8pt;
  margin-bottom: 8pt;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4pt;
  font-size: 14pt;
}

div.toptitle > a:visited,
div.toptitle > a:link
 {
  display: block;
  float: left;
  text-decoration: none;
  color: #555;
  margin-top: 8pt;
  margin-bottom: 8pt;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  padding: 4pt 1em;
  font-size: 24pt;
}

header > div > a:hover,
header > div > a:active,
div.toptitle > a:hover,
div.toptitle > a:active {
  color: #b55;
}

header > ul {
  list-style-type: none;
  overflow: hidden;
}

header > ul > li {
  float: left;
}

/*********************************************************/

nav {
  float: right;
  margin: 0em 0em;
  width: 20%;
  min-height: 100%;
  padding-left: 0pt;
}

nav > p {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 2em;
  text-align: center;
}

nav > h2 {
  margin-left: 1em;
  margin-right: 1em;
}

nav > ul {
  list-style-type: none;
  padding: 0pt;
  margin: 0pt;
  border: 0pt;
  line-height: 1.4;
}

nav > ul > li {
  padding: 0pt;
  margin: 0pt;
  border: 0pt;
}

nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {
  text-decoration: none;
  font-weight: bold;
  padding: 0pt;
  margin: 0pt;
  padding-left: 8pt;
  color: #368;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: #b55;
  background-color: inherit;
}

/*********************************************************/

p.notice, p.alert {
  display: block;
  border-radius: 16px;
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

p.notice {
  background-color: #eff;
  border: 2px solid #bcc;
}

p.alert {
  background-color: #e99;
  border: 2px solid #b55;
}
