/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= boilerplate/main.css
 *= boilerplate/normalize.css
 *= require_tree .
 *= require_self
 */

div.shell {
  margin: auto;
  width: 800px;
  min-height: 600px;
  padding: 0.1em;
}

div.content {
  width: 90%;
  padding: 1em 0em;
  min-height: 400px;
}

h1.pagetop {
  padding: 0.5em 1em;
  border-bottom: 2px solid #b55;
  border-top: 2px solid #b55;
}

h2 {
  margin-left: 2em;
}

p, form, a {
  font-size: 18px;
}

p, form {
  margin-left: 4em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #b55;
  background-color: #fff;
}
