/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= boilerplate/main.css
 *= boilerplate/normalize.css
 *= require_tree .
 *= require_self
 */

/*********************************************************/

h2 {
  margin-left: 2em;
}

p, form, a, a:hover, a:visited, a:active, td, th {
  font-size: 18px;
  background-color: inherit;
}

a, a:visited {
  text-decoration: none;
  color: #368;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #b55;
}

table {
  width: 80%;
  text-align: center;
}

td, th {
  padding: 4px 8px;
}

th.title, td.title {
  padding: 4px 8px;
  text-align: left;
  width: 25%;
}

th {
  border-bottom: 2px solid #666;
  background-color: #bcc;
}

tr {
  background-color: #dee;
}

tr:hover {
  background-color: #eff;
}

/*********************************************************/

div.shell {
  margin: auto;
  width: 1024px;
  min-height: 600px;
  padding: 0.1em;
}

/*********************************************************/

div.content {
  width: 90%;
  padding: 1em 2em;
  min-height: 400px;
}

.content > p, form {
  margin-left: 4em;
}

select {
  max-width: 60%;
}

.note {
  font-size: 12px;
}

/*********************************************************/

div.pagetop {
  padding: .7em 1em;
  border-bottom: 2px solid #b55;
}

.pagetop > h1, ul {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.pagetop > h1 {
  font-size: 3em;
}

.pagetop > ul > li > a:link, .pagetop > ul > li > a:visited {
  display: block;
  width: 80%;
  text-decoration: none;
  text-align: center;
  color: #666;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  padding: 1px 1em;
}

.pagetop > ul > li > a:hover, a:active {
  color: #b55;
  background-color: #fff;
  text-decoration: underline;
}

.pagetop > ul {
  list-style-type: none;
  overflow: hidden;
}

.pagetop > ul > li {
  float: left;
}

/*********************************************************/

div.sidebar {
  float: right;
  margin: 1em 0em;
  width: 20%;
  min-height: 600px;
  height: 100%;
  border-left: 2px solid #888;
}

.sidebar > p {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 2em;
  text-align: center;
}

.sidebar > ul {
  list-style-type: none;
  padding-left: 20px;
  line-height: 1.4;

}

.sidebar > ul > li > a:link, .sidebar > ul > li > a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #368;
}

.sidebar > ul > li > a:hover, .sidebar > ul > li > a:active {
  color: #b55;
  background-color: #fff;
}

/*********************************************************/

p.notice, p.alert {
  border-radius: 16px;
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

p.notice {
  background-color: #eff;
  border: 2px solid #bcc;
}

p.alert {
  background-color: #e99;
  border: 2px solid #b55;
}
