/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= boilerplate/main.css
 *= boilerplate/normalize.css
 *= require_tree .
 *= require_self
 */

div.shell {
  margin: auto;
  width: 1024px;
  min-height: 600px;
  padding: 0.1em;
}

div.content {
  width: 90%;
  padding: 1em 0em;
  min-height: 400px;
}

div.pagetop {
  padding: .7em 1em;
  margin-top: 2em;
  border-bottom: 2px solid #b55;
  border-top: 2px solid #b55;
}

.pagetop > h1, ul {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.pagetop > h1 {
  font-size: 3em;
}

div.sidebar {
  float: right;
  background-color: #ddd;
  margin: 1em 0em;
  width: 20%;
  min-height: 100%;
  border: 2px solid #b55;
  border-radius: 12px;
}

.sidebar > p {
  margin-left: 1em;
}

.sidebar > ul > li > a:link, a:visited {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar > ul > li > a:hover, a:active {
  color: #b55;
  background-color: #aad;
}

h2 {
  margin-left: 2em;
}

p, form, a {
  font-size: 18px;
}

.content > p, form {
  margin-left: 4em;
}

.pagetop > ul > li > a:link, .pagetop > ul > li > a:visited {
  display: block;
  width: 80%;
  text-decoration: none;
  text-align: center;
  color: #666;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  padding: 1px 1em;
}

.pagetop > ul > li > a:hover, a:active {
  color: #b55;
  background-color: #ddd;
}

.pagetop > ul {
  list-style-type: none;
  overflow: hidden;
}

.pagetop > ul > li {
  float: left;
}
