// Place all the styles related to the HelpProfessors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
img {
  cursor:zoom-in;
  border: 1px solid #368;
}

li {
  font-size: 18px;
  background-color: inherit;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
*/