<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para mudar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= button_link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu por isso, por favor ignore esse email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e cria uma nova.</p>
